#nav {
    display: inline-block;
    padding: 100px 5px 100px 0px;
    vertical-align: top;
    line-height: 2;
}

ul, li, a {
    list-style-type: square;
    text-decoration: none;
    
}

#section {
    display: inline-block;
    width: 80%;
    border-left: 2px solid rgb(252, 251, 251);
    padding-left: 15px;
    
   
}

.bodies {
    background-color: rgb(182, 216, 216);
    font-family: Monotype Corsiva, mv boli;
    font-size: 20px;
    
}

h1 {
    color: hsl(231, 97%, 38%);
    
}

p#main {
    line-height: 2;

}

img {
    border-radius: 10%;
    border-image: 1px solid black;
  
}

.liter {
    background-image: url(old-books.jpg);
    font-family: Monotype Corsiva, mv boli;
    font-size: 20px;
    background-size: auto ;
}

#liter {
    display: inline-block;
    width: 80%;
    border-left: 2px solid rgb(252, 251, 251);
    padding-left: 15px;
    color: rgb(221, 138, 14);
    
}

#early {
    padding: 0px 210px 20px;
}

#education { 
    line-height: 1.5;
}

#literary {
    color: rgb(236, 234, 75);
}

table {
    display: table;
    border-collapse: collapse;
    border-spacing: 5px;
    border-color: rgb(194, 194, 194);
    color: rgb(255, 226, 64);
    background-color:  rgba(247, 141, 21, 0.123);
    
}

#heading {
    background-color: rgba(255, 136, 0, 0.493);
    color: black;
}

 td {
    border: 1px solid rgba(255, 136, 0, 0.493);
    padding: 5px;
}

#colour {
    color: rgb(219, 99, 0);
}